@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <span>Select File:</span>
        <input type="file" name="postedFiles"/>
        <input type="submit" value="Upload" />
        <br/>
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
    </form>

    <br />
    <input type="button" value="Ler arquivo" onclick="location.href='@Url.Action("LerCodigo", "LerArquivo")'" />

</body>
</html>